div#page-wrapper {
	background: url('../images/abstract_0005.jpg') white;
}

div.contentBox {
	background: white;
	width: 45em;
	margin: 20px auto;
	border: 2px solid #4933D6;
	height: 100%;
	position: relative; top: -1px; right: -1px;

	margin-top: 10px; padding: 10px 0;
}

div.contentBox .inner { margin: 20px; }

ul.menu { margin-top: -10px;padding: 0; text-align: center; list-style: none; font-weight: bold; background: #4933D6; color: white; }
ul.menu li { display: inline; }
ul.menu li + li::before { content: " | "; }
ul.menu li a { background: #4933D6; padding: 10px 20px; color: white; }

#def, #defHint { font-size: 150%; width: 100%; }
div#correctAnswer, div#wrongAnswer { display: none; }
span.accesskey { text-decoration: underline; }
a span.accesskey { font-weight: bold; padding: 1px; }

div#wonBox { display: none; background: #FEF5CA; border: 1px dotted grey; padding: 0 50px; }
div#wonBox h2 { font-size: 120%; text-align: center; }
div#wonBox p { text-align: center; }

table.score { background: white; margin: 0 auto; }
table.score th { text-align: left; padding-left: 20px; }
table.score td { width: 7em; text-align: center; }
table.score .correct { color: green; }
table.score .wrong { color: red; }

div#progressbar { margin: 0 auto;
    width: 305px;
    height: 25px !important;
    position: relative;
    top: -20px;
    margin-bottom: -15px;
}

div#progressbar .ui-progressbar-value { background: rgb(62, 174, 84); }

div#dedication { position: fixed; bottom: 0; left: 0; color: white; }

/* Override main.css */
div#wide-content { border: none; background: transparent; }
ul.menu li a:hover, ul.menu li.hover>a { background: transparent !important; text-decoration: underline; }

.typeInBox {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	height: 35px;
	border: 1px solid green;
	background-color: transparent;
}

.typeOverBox {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	height: 35px;
	color: #999;
}

input.wrongAnswer { border: 2px solid #FF2E2E !important; }
img.wrongAnswer { position: relative; top: -45px; left: 100%; padding: 0; margin-left: -20px; z-index: 3; float: left; }

div#todoBox { height: 250px; overflow-y: auto; }

.todoList li.done { text-decoration: line-through; }

#diacriticsBox {
	width: 350px;
}
